.bod {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 50vh;
}
.playerChoiceContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.runningResultsDisplay {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}