.bod {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 40vh;
}
.playerChoiceContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.runningResultsDisplay {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

#results {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    border: 1px solid black;
    margin-left: 35%;
    margin-right: 35%;
}